%div{id: "carousel_owl", class: "owl-carousel owl-theme"}
  %div.item
    %img{src: "http://placehold.it/850x500", alt: ""}
  %div.item
    %img{src: "http://placehold.it/850x500", alt: ""}
  %div.item
    %img{src: "http://placehold.it/850x500", alt: ""}
  %div.item
    %img{src: "http://placehold.it/850x500", alt: ""}
  %div.item 
    %img{src: "http://placehold.it/850x500", alt: ""}
  %div.item
    %img{src: "http://placehold.it/850x500", alt: ""}

