- if signed_in?
  = controller.redirect_to user_path(current_user)
- else
  .center.hero-unit
    .well.well-sm
      For development were implemented:
      = render 'carousel_owl'
    %section.well.well-sm
      %h1
        Welcome to the Sergey's Blog
      %h2
      %a{href: "https://github.com/SergeyMarushchenko/blog.git"} The source code 
      of the application on Github
      %br
      %br
      = link_to "Sign up now", signup_path, class: "btn btn-large btn-primary"
    %section.well.well-sm
      = render 'carousel_bootstrap'
