<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>

    <div class="span9">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>text
    </div>

  </div>
<% else %>

<div class = "center hero-unit">
  <h1>
    Welcome to the Sergey's Blog
  </h1>
    <p>
      <h2>
        The test assignment for trainee position at
        <a href="http://http://sloboda-studio.com/ru/">Sloboda Studio</a>.
      </h2>
    </p>
    <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>