- if signed_in?
  = controller.redirect_to user_path(current_user)
- else
  .center.hero-unit
    .well.well-sm
      = render 'carousel_owl'
    %section.well.well-sm
      %h1
        Welcome to the Sergey's Blog
      %h2
      = link_to "Sign up now", signup_path, class: "btn btn-large btn-primary"
    %section.well.well-sm
      = render 'carousel_bootstrap'
