- if @user.errors.any?
  #error_explanation
    .alert.alert-error
      The form was filled-in incorrect,
      it contains #{pluralize(@user.errors.count, "error")}:
      %ol
        - @user.errors.full_messages.each do |msg|
          %li= msg
