<footer class="footer">
  <h2 class="span4">
    <a href="https://github.com/SergeyMarushchenko/blog.git">The source code</a>
    of the application on Github
  </h2>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
