%footer.footer
  %h2.span4
    %a{:href => "https://github.com/SergeyMarushchenko/blog.git"} The source code
    of the application on Github
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
